<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid bg-sky text-white" >
  <div class="container">
    <h1>Tokens</h1>      
  </div>
</div>


<table class="table table-stripped table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Token</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= token.customer %></td>
        <td><%= token.token %></td>        
        <td>
            <div class="btn-group">
                <%= link_to 'Edit', edit_token_path(token), class: "btn btn-primary  btn-sm" %>
                <%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Token', new_token_path, class: "btn btn-primary" %>
